body {
	background-color: silver;
}

#container {
	width: 100%;
	display: flex;
}

#viewport {
	background-color: black;
	position: relative;
	border-radius: 50%; /*circular*/
	overflow: hidden;
}

#left-options, #right-options {
	flex: 1;
}

.celestialObject {
	position: absolute;
	border-radius: 50%; /*circular*/
	/*Center frame around it*/
	display: flex;
	justify-content: center;
  	align-items: center;
}

.frame {
	position: absolute; /* stops it from growing/shrinking based on the size of its label */
	border: 1px solid red;
	display: none;
}

.frameLabel {
	/*position: relative;*/
	color: white;
}

.v-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.h-container {
	display: flex;
	justify-content: center;
}

.button-container {
	
}

.motion-button {
	width: 50%;
	margin: auto;
}